DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/smartkutubxona
JWT_SECRET=change-me
UPLOAD_DIR=uploads
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000
NODE_ENV=production

